footer {
	width: 100%;
	padding: 100px 0px;

	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;

		p {
			font: 300 12px/1.2 'Montserrat';
			color: #aaa;
			text-align: center;
		}
	}
}
