.content {
	.sub_visual {
		width: 100%;
		height: 350px;
		background-color: #eee;
		padding: 200px 300px 0;

		h1 {
			font: 400 50px/1 'Montserrat';
			color: #333;
			position: relative;
			text-align: left;

			&::after {
				content: '';
				display: block;
				width: 320px;
				height: 10px;
				background-color: rgba(238, 125, 49, 0.5);
				position: absolute;
				bottom: 2px;
				z-index: -1;
			}
		}
	}

	.inner {
		width: 1180px;
		margin: 150px auto;
	}
}

@media screen and (max-width: $tablet) {
	.content {
		.sub_visual {
			width: 100%;
			padding: 100px 30px;
		}
	}
}
