.popup {
	width: 100%;
	height: 100vh;
	padding: 5vw;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.9);
	z-index: 10;

	> span {
		font: bold 14px/1 'arial';
		color: #ee7d31;
		font-size: 30px;
		cursor: pointer;
		position: absolute;
		top: 2vw;
		right: 2vw;
	}

	.con {
		width: 100%;
		height: 100%;
		border: 1px solid #888;
		overflow: hidden;

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		img {
			width: 100%;
			height: 1 00%;
			object-fit: cover;
		}
	}
}
