.ABOUT {
	.inner {
		h1 {
			font: 500 30px/1 'Montserrat';
			color: #666;
			text-align: center;
			margin-bottom: 10px;
		}

		h2 {
			font: 500 14px/1.2 'Montserrat';
			color: #757575;
		}

		p {
			font: 12px/1.2 'Montserrat';
			color: #aaa;
			text-align: center;
			margin-bottom: 50px;
		}

		svg {
			font-size: 40px;
			color: #ee7d31;
			margin-bottom: 25px;
		}

		.introduction {
			width: 100%;
			margin-bottom: 150px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			.pic {
				float: left;
				width: 15%;
				height: 400px;

				&:nth-of-type(1) {
					background: url(./../../../build/img/pexels-negative-space-34088.jpg)
						no-repeat center/cover;
				}

				&:nth-of-type(3) {
					background: url(./../../../build/img/pexels-pavel-danilyuk-8038337.jpg)
						no-repeat center/cover;
				}

				&::after {
					content: '';
					display: block;
					width: 40px;
					height: 100%;
					background: rgba(238, 125, 49, 0.5);
					float: right;
				}
			}

			.txt {
				float: left;
				width: 35%;
				height: 400px;
				padding: 40px 30px;
				box-sizing: border-box;
				box-shadow: 2px 5px 15px #eee;

				h2 {
					font: 500 14px/1.2 'Montserrat';
					color: #757575;
					margin-bottom: 30px;
					font-size: 14px;
					font-weight: 600;
				}

				p {
					font: 12px/1.2 'Montserrat';
					color: #aaa;
					text-align: left;
					font-weight: 300;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.service {
			width: 100%;
			margin-bottom: 150px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			article {
				float: left;
				width: 280px;
				margin-right: 20px;
				padding: 40px;
				box-sizing: border-box;
				text-align: center;
				box-shadow: 5px 5px 15px #eee;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.process {
			margin-bottom: 150px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			article {
				float: left;
				width: 380px;
				margin-right: 20px;
				padding: 80px 40px;
				box-sizing: border-box;
				text-align: center;
				box-shadow: 5px 5px 15px #eee;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.member {
			width: 100%;
			margin-bottom: 150px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			article {
				float: left;
				width: 360px;
				margin-right: 50px;

				&:last-child {
					margin-right: 0;
				}

				.box {
					width: 100%;
					height: 330px;
					margin-bottom: 20px;

					&::after {
						content: '';
						display: block;
						clear: both;
					}

					img {
						float: left;
						width: 80%;
						height: 100%;
						object-fit: cover;
					}

					.sns {
						float: left;
						width: 20%;
						height: 100%;
						background: rgba(238, 125, 49, 0.7);
						display: flex;
						flex-direction: column;
						justify-content: center;

						a {
							display: block;
							text-align: center;
							padding: 20px 0;

							> svg {
								color: #fff;
								font-size: 25px;
								margin-bottom: 0;
							}
						}
					}
				}

				h2 {
					font-weight: 600;
					font-size: 18px;
					margin-top: 20px;
					margin-bottom: 10px;
					color: #757575;
				}
				p {
					font: 12px/1.2 'Montserrat';
					color: #aaa;
					text-align: left;
				}
			}
		}

		.questions {
			a {
				display: block;
				margin: 0 auto;
				width: 250px;
				height: 70px;
				background: #ee7d31;
				color: #fff;
				text-align: center;
				font: 500 14px/70px 'Roboto';
				box-shadow: -5px 5px 10px rgb(160 160 160 / 30%);
				transition: 0.5s;
				border: 1px solid transparent;

				> svg {
					color: #fff;
					font-size: 14px;
					margin-bottom: 0;
					transition: 0.5s;
				}

				&:hover {
					background-color: rgba(238, 125, 49, 0.4);
					border: 1px solid #ee7d31;
					color: #ee7d31;

					> svg {
						color: #ee7d31;
					}
				}
			}
		}
	}
}
