.NOTICE {
	.inner {
		.btns {
			text-align: left;

			li {
				display: inline-block;
				width: 100px;
				height: 40px;
				box-shadow: 2px 5px 15px #eee;
				margin-right: 20px;
				margin-bottom: 40px;
				text-align: center;

				a {
					display: block;
					width: 100%;
					font: 500 16px/40 'Montserrat';

					&.on {
						color: #fff;
					}
				}
			}
		}

		.box {
			width: 100%;
			border: 1px solid #eee;
			padding: 50px;
			margin-bottom: 30px;

			input {
				width: 100%;
				height: 30px;
				transition: 0.5s;
				padding: 0 10px;
				margin-bottom: 20px;
				font: 500 12px/1 'Montserrat';
			}

			textarea {
				width: 100%;
				height: 100px;
				transition: 0.5s;
				padding: 10px;
				resize: none;
				margin-bottom: 20px;
				font: 500 12px/1 'Montserrat';
			}

			.btns {
				display: flex;
				justify-content: flex-end;

				button {
					width: 80px;
					height: 30px;
					margin-left: 20px;
					border: none;
					transition: 0.5s;
					color: #fff;
					cursor: pointer;
				}
			}
		}

		#faq {
			width: 100%;
			margin-bottom: 50px;

			article {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #ddd;
				padding: 30px;

				h2 {
					width: 10%;
					height: 100%;
					text-align: center;
					font-size: 40px;
					transition: 0.5s;
				}

				.txt {
					width: 84%;
					h3 {
						font: 600 15px/1.2 'Montserrat';
						padding-bottom: 10px;
						color: #666;
					}

					p {
						font: 400 12px/1.2 'Montserrat';
						text-align: left;
						color: #666;
					}
				}

				.btns {
					display: inline-block;
					width: 5%;

					button {
						text-align: center;
						border: none;
						background: none;
						margin-right: 15px;
						font-size: 15px;
						cursor: pointer;
					}
				}

				div {
					width: 90%;

					.rebox {
						width: 95%;

						input {
							width: 100%;
							height: 30px;
							transition: 0.5s;
							padding: 0 10px;
							margin-bottom: 20px;
							font: 400 12px/1 'Montserrat';
						}

						textarea {
							width: 100%;
							height: 100px;
							transition: 0.5s;
							padding: 10px;
							resize: none;
							margin-bottom: 20px;
							font: 400 12px/1 'Montserrat';
						}
					}

					.btns_re {
						width: 95%;
						text-align: right;

						button {
							width: 80px;
							height: 30px;
							margin-left: 20px;
							border: none;
							transition: 0.5s;
							color: #fff;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.NOTICE {
		.inner {
			.box {
				padding: 30px;
			}

			#faq {
				width: 100%;
				margin-bottom: 50px;

				article {
					padding: 20px 0;

					div {
						width: 85%;

						.btns_re {
							button {
								width: calc(50% - 5px);
								margin-left: 10px;

								&:first-child {
									margin-left: 0;
								}
							}
						}
					}

					h2 {
						width: 15%;
						font-size: 40px;
					}

					.txt {
						width: 70%;
						padding: 0 5px;

						h3 {
							font: 600 14px/1.2 'Montserrat';
						}

						p {
							font: 400 12px/1.2 'Montserrat';
						}
					}

					.btns {
						width: 12%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.NOTICE {
		.inner {
			.box {
				padding: 25px;

				.btns {
					justify-content: space-between;

					button {
						width: calc(50% - 5px);
						margin-right: 10px;
						margin-left: 0;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			#faq {
				article {
					h2 {
						font-size: 25px;
					}

					.txt {
						h3 {
							font: 600 12px/1.2 'Montserrat';
						}

						p {
							font: 400 10px/1.2 'Montserrat';
						}
					}

					.btns {
						width: 14%;

						button {
							margin-right: 10px;

							svg {
								font-size: 11px;
							}
						}
					}
				}
			}
		}
	}
}
