.CONTACT {
	.inner {
		h1 {
			font: 500 30px/1 'Montserrat';
			color: #666;
			text-align: center;
			margin-bottom: 10px;
		}

		h2 {
			font: 500 14px/1.2 'Montserrat';
			color: #757575;
		}

		p {
			font: 12px/1.2 'Montserrat';
			color: #aaa;
			text-align: center;
		}

		.tit {
			margin-bottom: 150px;
		}

		.con {
			width: 100%;
			height: 600px;
			margin-bottom: 30px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			.maps {
				width: 50%;
				height: 100%;
				float: left;

				.branch {
					width: 100%;
					margin-bottom: 30px;

					li {
						width: calc(50% - 10px);
						height: 40px;
						background: #ee7d31;
						color: #fff;
						margin-right: 20px;
						display: inline-block;
						text-align: center;
						line-height: 40px;

						&:last-child {
							margin-right: 0;
						}
					}
				}

				#map {
					width: 100%;
					height: calc(100% - 70px);

					> div > div > div:nth-of-type(1),
					> div > div > div:nth-of-type(2) {
						filter: grayscale(1);
					}
				}
			}

			form {
				width: 50%;
				height: 100%;
				padding: 20px;
				background: #aaa;
				float: left;
			}
		}

		.quick {
			width: 100%;
			padding: 100px 50px;
			background: #f9f9f9;
			position: relative;
			box-sizing: border-box;
		}
	}
}
