.CONTACT {
	.inner {
		h1 {
			font: 500 30px/1 'Montserrat';
			color: #666;
			text-align: center;
			margin-bottom: 10px;
		}

		h2 {
			font: 500 14px/1.2 'Montserrat';
			color: #757575;
		}

		p {
			font: 12px/1.2 'Montserrat';
			color: #aaa;
			text-align: center;
		}

		.tit {
			margin-bottom: 150px;
		}

		.con {
			width: 100%;
			height: 600px;
			margin-bottom: 30px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			.maps {
				width: 50%;
				height: 100%;
				float: left;

				.branch {
					width: 100%;
					margin-bottom: 30px;

					li {
						cursor: pointer;
						width: calc(50% - 10px);
						height: 40px;
						border: 1px solid #ee7d31;
						background: #fff;
						color: #ee7d31;
						display: inline-block;
						text-align: center;
						line-height: 40px;
						margin-right: 20px;
						transition: 0.5s;

						&:last-child {
							margin-right: 0;
						}

						&.on {
							background: #ee7d31;
							color: #fff;
						}
					}
				}

				#map {
					width: 100%;
					height: calc(100% - 70px);

					> div > div > div:nth-of-type(1),
					> div > div > div:nth-of-type(2) {
						filter: grayscale(1);
					}
				}
			}

			.form {
				float: left;
				width: 50%;
				height: 100%;
				padding: 30px;

				h2 {
					font: 600 16px/1 'Montserrat';
					color: #666;
					text-align: left;
					margin-bottom: 15px;
				}

				.sns {
					margin-bottom: 30px;

					a {
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background: #ee7d31;
						margin-right: 15px;

						text-align: center;
						line-height: 27px;

						svg {
							color: #fff;
							font-size: 15px;
						}
					}
				}

				.request {
					input {
						width: 100%;
						height: 40px;
						border: none;
						box-shadow: 2px 2px 12px #eee;
						padding: 0 20px;
						margin-bottom: 20px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					textarea {
						width: 100%;
						height: 200px;
						margin-bottom: 30px;
						resize: none;
						padding: 20px;
						border: none;
						box-shadow: 2px 5px 15px #eee;
					}
				}

				button {
					width: 100%;
					height: 60px;
					background: #ee7d31;
					color: #fff;
					border: none;

					&:hover {
						background-color: rgba(238, 125, 49, 0.4);
						border: 1px solid #ee7d31;
						color: #ee7d31;
					}
				}
			}
		}

		.quick {
			width: 100%;
			padding: 100px 50px;
			background: #f9f9f9;
			position: relative;
			box-sizing: border-box;

			::after {
				content: '';
				display: block;
				clear: both;
			}

			> p {
				font: bold 180px/1 'Montserrat';
				letter-spacing: 3px;
				color: #fff;
				position: absolute;
				top: 30px;
				right: 50px;
				opacity: 0.4;
			}

			.sub_tit {
				width: 100%;
				margin-bottom: 50px;

				h1 {
					text-align: left;
					font-size: 40px;
					font-weight: 700;
				}

				p {
					text-align: left;
					letter-spacing: 2px;
					color: #555;
				}
			}

			.box {
				width: 100%;
				padding: 0 30px;
				box-sizing: border-box;

				article {
					float: left;
					width: 33.33%;
					padding: 30px;
					box-sizing: border-box;

					svg {
						color: #666;
						font-size: 30px;
						margin-bottom: 20px;
					}

					h2 {
						color: #666;
						font: 600 14px/1 'Montserrat';
						margin-bottom: 50px;
					}

					p {
						text-align: left;
						line-height: 2;
					}
				}
			}
		}

		.subscribe {
			width: 100%;
			padding: 100px 50px;
			box-sizing: border-box;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			.sub_tit {
				float: left;
				width: calc(100% / 3);

				h1 {
					text-align: left;
					font-size: 40px;
					font-weight: 700;
				}

				p {
					text-align: left;
					letter-spacing: 2px;
					color: #555;
				}
			}

			.inputBox {
				float: left;
				width: calc(100% / 3 - 10px);
				margin-right: 20px;

				&:nth-of-type(3) {
					margin-right: 0;
				}

				h2 {
					color: #666;
					font: 600 14px/1 'Montserrat';
					margin-bottom: 15px;
				}

				input {
					width: 100%;
					height: 40px;
					border: none;
					box-shadow: 2px 2px 12px #eee;
					padding: 0 20px;
				}
			}

			button {
				float: right;
				width: calc(100% / 3 * 2);
				height: 60px;
				background: #ee7d31;
				color: #fff;
				border: none;
				margin-top: 50px;
				cursor: pointer;
				transition: 0.5s;

				&:hover {
					background-color: rgba(238, 125, 49, 0.4);
					border: 1px solid #ee7d31;
					color: #ee7d31;
				}
			}
		}
	}
}
