.SERVICE {
	.inner {
		overflow: hidden;

		h1 {
			font: 500 30px/1 'Montserrat';
			color: #666;
			text-align: center;
		}

		.tit {
			margin-bottom: 150px;
		}

		.wrap {
			width: 100%;
			position: relative;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			&:nth-of-type(2) {
				margin-bottom: 150px;

				article {
					float: left;

					&::after {
						right: -150px;
					}
				}

				.img {
					background: url(../../../public/img/service01.jpg) no-repeat
						center/cover;
					right: 0;
				}
			}

			&:nth-of-type(3) {
				margin-bottom: 150px;

				article {
					float: right;

					&::after {
						left: -150px;
					}
				}

				.img {
					background: url(../../../public/img/service02.jpg) no-repeat
						center/cover;
				}
			}

			article {
				width: 70%;
				padding: 80px;
				background: #fff;
				box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
				position: relative;

				&::after {
					content: '';
					display: block;
					width: 150px;
					height: 100%;
					transition: 0.5s;
					position: absolute;
					top: 0;
				}

				h2 {
					margin-bottom: 15px;
					text-align: left;
					font: 600 20px/1.2 'Montserrat';
					color: #757575;
				}

				p {
					text-align: left;
					margin-bottom: 30px;
					font: 12px/1.2 'Montserrat';
					color: #aaa;
				}

				.btn {
					margin: 0;
				}
			}

			.img {
				display: block;
				width: 30%;
				height: 350px;
				filter: grayscale(1);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: -1;
			}
		}

		#plan {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			border-spacing: 10px 0;
			margin-bottom: 80px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			h1 {
				margin-bottom: 50px;
			}

			.btns {
				width: 20%;
				float: left;
				margin-right: 30px;
				margin-top: 85px;

				li {
					width: 100%;
					height: 70px;

					p {
						font: bold 26px/70px 'Montserrat';
						transition: 0.5s;
					}

					a {
						display: block;
						width: 100%;
						font: 500 16px/70px 'Montserrat';
						color: #777;

						&.on {
							transition: 0.5s;
							color: #fff;
						}
					}
				}
			}

			div {
				width: calc(80% - 30px);
				display: none;
				float: left;

				&.on {
					display: flex;
					justify-content: space-between;
				}

				ul {
					padding: 15px;
					width: 100%;
					box-shadow: 2px 5px 15px #eee;
					margin-right: 30px;

					&:last-child {
						margin-right: 0;
					}

					li {
						height: 70px;
						font: 500 14px/70px 'Montserrat';
						color: #aaa;

						h2 {
							font: bold 16px/70px 'Montserrat';
						}

						p {
							font: bold 26px/70px 'Montserrat';
							transition: 0.5s;
						}

						strong {
							font-weight: 600;
							transition: 0.5s;
						}
					}
				}
			}
		}

		.btn {
			display: block;
			margin: 0 auto;
			width: 250px;
			height: 60px;
			transition: 0.5s;
			text-align: center;
			font: 500 12px/60px 'Montserrat';
			color: #fff;
			box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
			transition: all 0.5s;
			border: 1px solid transparent;

			&:hover {
				transition: 0.5s;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.SERVICE {
		.inner {
			.tit {
				margin-bottom: 100px;

				h1 {
					font-size: 28px;
				}
			}

			.wrap {
				&:nth-of-type(2) {
					margin-bottom: 100px;

					article {
						&::after {
							right: -42.9%;
						}
					}
				}

				&:nth-of-type(3) {
					margin-bottom: 100px;

					article {
						&::after {
							left: -42.9%;
						}
					}
				}

				article {
					width: 70%;
					padding: 40px;

					&::after {
						width: 43%;
					}

					.btn {
						width: 100%;
						margin: 0;
					}
				}

				.img {
					height: 100%;
				}
			}

			#plan {
				display: none;
			}

			.btn {
				display: none;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.SERVICE {
		.inner {
			margin: 50px 0;
			padding: 0;

			.tit h1 {
				font-size: 20px;
			}

			.wrap {
				&:nth-of-type(2) {
					margin-bottom: 80px;

					article {
						&::after {
							right: -42.9%;
						}
					}
				}

				&:nth-of-type(3) {
					margin-bottom: 100px;

					article {
						&::after {
							left: -42.9%;
						}
					}
				}

				article {
					width: 90%;
					padding: 40px;

					&::after {
						width: 43%;
						height: 75%;
					}
				}

				.img {
					width: 65%;
					height: 113%;
					top: -50px;
					transform: translateY(0);
				}
			}
		}
	}
}
