.YOUTUBE {
	.inner {
		.top {
			margin-bottom: 60px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			.left {
				float: left;
				width: 70%;

				article {
					margin-bottom: 60px;
					box-shadow: 2px 5px 15px #eee;

					&:last-child {
						margin-bottom: 0;
					}

					.imgbox {
						width: 100%;
						height: 500px;
						position: relative;
						overflow: hidden;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							filter: grayscale(1);
							transition: 0.5s;
							cursor: pointer;
						}

						&::after {
							content: '▶';
							display: none;
							color: #fff;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-size: 50px;
							cursor: pointer;
						}

						&:hover {
							img {
								filter: grayscale(0);
								transform: scale(1.05);
							}

							&::after {
								display: block;
							}
						}

						.sns {
							position: absolute;
							width: 100%;
							height: 50px;
							padding: 0 50px;
							transition: 0.5s;
							bottom: 0;

							a {
								margin-right: 20px;
								line-height: 50px;

								svg {
									color: #fff;
									font-size: 18px;
								}
							}
						}
					}
					table {
						width: 100%;
						padding: 40px 30px;

						tr {
							td {
								font: 12px/1.8 'Montserrat';
								color: #666;
								padding: 10px 25px;
								border: none;
								text-align: left;
							}

							&:nth-of-type(1) {
								td {
									padding: 0;
									text-align: center;
									font: 11px/1.8 'Montserrat';
									white-space: pre-wrap;

									&:last-child {
										font: 500 18px/1 'Montserrat';
										text-align: left;
										padding: 10px 30px;
									}
								}
							}

							&:last-child {
								td {
									font-size: 14px;
									font-weight: 500;

									&:nth-of-type(1) {
										width: 30%;
									}
									&:nth-of-type(2) {
										width: 30%;
									}
									&:nth-of-type(3) {
										width: 30%;
										cursor: pointer;
									}

									a {
										color: #666;

										&:hover {
											transition: 0.5s;
										}
									}
								}
							}
						}
					}
				}
			}

			.right {
				width: 30%;
				float: left;
				padding-left: 30px;

				.sec {
					width: 100%;
					padding: 30px;
					box-shadow: 2px 5px 15px #eee;
					position: relative;
					margin-bottom: 30px;

					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 20px;
						position: absolute;
						top: 0;
						left: 0;
						transition: 0.5s;
					}

					h2 {
						font: 500 14px/1.2 'Montserrat';
						color: #757575;
						font-weight: 600;
						padding: 20px 0;
					}
				}

				.cartegories {
					ul {
						padding: 0 30px;

						li {
							font: 400 10px/2 'Montserrat';
							transition: 0.5s;
							list-style-type: disc;

							p {
								color: #757575;
							}
						}
					}
				}

				.post {
					width: 100%;

					a {
						width: 100%;
						height: 60px;
						margin-bottom: 20px;
						display: flex;
						justify-content: flex-start;
						position: relative;

						&::after {
							content: '';
							display: block;
							width: 5%;
							height: 100%;
							position: absolute;
							top: 0;
							left: -5%;
							transition: 0.5s;
						}

						img {
							width: 30%;
							height: 100%;
							object-fit: cover;
							filter: grayscale(1);
							margin-right: 15px;
						}

						.txt {
							h3 {
								font: 400 11px/2 'Montserrat';
								color: #757575;
							}

							span {
								font-size: 12px;
								color: #757575;
								margin-right: 20px;

								svg {
									font-size: 12px;
									transition: 0.5s;
								}
							}
						}
					}
				}

				.notice {
					ul {
						padding: 0 30px;

						li {
							font-size: 10px;
							transition: 0.5s;
							list-style-type: disc;
							margin-bottom: 20px;
							cursor: pointer;

							&:last-child {
								margin-bottom: 0;
							}

							a {
								color: #666;

								h3 {
									font: 600 10px/1.2 'Montserrat';
									margin-bottom: 5px;
								}

								p {
									font: 400 8px/1.2 'Montserrat';
								}
							}
						}
					}
				}

				.gallery {
					.imgBox {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						img {
							width: 80px;
							height: 80px;
							object-fit: cover;
							margin-bottom: 15px;
							filter: grayscale(1);
							transition: 0.5s;

							&:hover {
								filter: grayscale(0);
							}
						}
					}
				}
			}
		}

		.mvBox {
			width: 100%;

			.mv {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;

				article {
					padding: 20px;
					width: calc(25% - 20px);
					cursor: pointer;
					box-shadow: 2px 5px 15px #eee;
					position: relative;

					&:last-child {
						margin-right: 0;
					}

					.imgBox {
						width: 100%;
						height: 130px;
						overflow: hidden;
						position: relative;
						margin-bottom: 10px;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: 0.5s;
						}

						&::after {
							content: '▶';
							display: none;
							color: #fff;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-size: 30px;
							cursor: pointer;
						}

						&:hover {
							img {
								transform: scale(1.05);
							}

							&::after {
								display: block;
							}
						}
					}

					h2 {
						font: 500 15px/1.2 'Montserrat';
						color: #757575;
						margin-bottom: 20px;
					}

					.txt {
						padding: 15px;

						p {
							font: 400 12px/1.2 'Montserrat';
							color: #aaa;
							position: relative;
							margin-bottom: 20px;

							&::after {
								content: '';
								display: block;
								position: absolute;
								top: 0;
								left: -10px;
								width: 2px;
								height: 100%;
								transition: 0.5s;
							}
						}

						span {
							display: block;
							text-align: right;
							font: 300 12px/1.2 'Montserrat';
							color: #aaa;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.YOUTUBE {
		.inner {
			.top {
				display: flex;
				flex-direction: column-reverse;

				.left {
					width: 100%;

					article {
						.imgbox {
							height: 400px;

							.sns {
								height: 40px;
								padding: 0 30px;

								a {
									line-height: 40px;
								}
							}
						}

						table {
							width: 100%;
							padding: 30px 20px;

							tr {
								td {
									font: 10px/1.8 'Montserrat';
									padding: 10px 20px;
								}

								&:nth-of-type(1) {
									td {
										font: 10px/1.8 'Montserrat';

										&:last-child {
											font: 500 14px/1 'Montserrat';
											padding: 10px 20px;
										}
									}
								}

								&:last-child {
									td {
										font-size: 12px;

										&:nth-of-type(1) {
											width: 30%;
										}
										&:nth-of-type(2) {
											width: 35%;
										}
										&:nth-of-type(3) {
											width: 25%;
										}
									}
								}
							}
						}
					}
				}

				.right {
					width: 100%;
					margin-bottom: 20px;
					float: none;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					flex-wrap: wrap;
					padding-left: 0;

					.sec {
						width: calc(50% - 5px);
						padding: 20px;
						margin-bottom: 20px;
						margin-right: 10px;

						&:nth-child(2n) {
							margin-right: 0;
						}

						h2 {
							font: 600 12px/1.2 'Montserrat';
							padding: 15px 0;
						}
					}

					.cartegories {
						ul {
							padding-left: 10px;
						}
					}

					.post {
						&:nth-child(4),
						&:nth-child(5),
						&:nth-child(6) {
							display: none;
						}

						a {
							height: 50px;

							&::after {
								width: 5%;
								left: -5%;
							}

							img {
								margin-right: 10px;
							}

							.txt {
								h3 {
									font: 400 10px/1.2 'Montserrat';
								}

								span {
									font-size: 8px;
									margin-right: 10px;

									svg {
										font-size: 8px;
									}
								}
							}
						}
					}

					.notice {
						ul {
							padding: 0 10px;

							li {
								font-size: 8px;

								&:nth-child(4),
								&:nth-child(5) {
									display: none;
								}

								a {
									color: #666;

									h3 {
										font: 600 10px/1.2 'Montserrat';
									}
								}
							}
						}
					}

					.gallery {
						.imgBox {
							img {
								width: calc(50% - 5px);
								height: 80px;

								&:nth-child(n + 5) {
									display: none;
								}
							}
						}
					}
				}
			}

			.mvBox {
				.mv {
					flex-wrap: wrap;

					article {
						padding: 20px;
						width: calc(50% - 10px);
						margin-bottom: 20px;

						&:nth-child(2n) {
							margin-right: 0;
						}

						&:nth-child(n + 3) {
							margin-bottom: 0;
						}

						.imgBox {
							height: 120px;
						}

						h2 {
							font: 500 12px/1.2 'Montserrat';
						}

						.txt {
							padding: 0 10px;

							p {
								font: 400 10px/1.2 'Montserrat';
							}

							span {
								font: 300 10px/1.2 'Montserrat';
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.YOUTUBE {
		.inner {
			.top {
				.left {
					article {
						margin-bottom: 20px;

						.imgbox {
							height: 150px;

							.sns {
								display: flex;
								align-items: center;
								flex-direction: row;
								flex-wrap: nowrap;
								justify-content: flex-start;
								height: 20px;
								padding: 0 10px;

								a {
									line-height: 0;
									margin-right: 10px;

									svg {
										font-size: 12px;
									}
								}
							}
						}

						table {
							width: 100%;
							padding: 20px;

							tr {
								td {
									padding: 10px 0 15px 0;
								}

								&:nth-of-type(1) {
									td {
										&:first-child {
											display: none;
										}

										&:last-child {
											padding: 0;
										}
									}
								}

								&:last-child {
									td {
										font-size: 10px;
										padding: 0;

										&:nth-of-type(1) {
											width: 30%;
										}
										&:nth-of-type(2) {
											width: 35%;
										}
										&:nth-of-type(3) {
											width: 25%;
										}
									}
								}
							}
						}
					}
				}

				.right {
					width: 100%;
					margin-bottom: 40px;

					.sec {
						width: 100%;
						margin-bottom: 20px;
						margin-right: 0;

						&:nth-child(2n) {
							margin-right: 0;
						}
					}

					.cartegories {
						ul {
							padding-left: 10px;
						}
					}

					.post {
						article {
							padding-left: 10px;
						}

						&:nth-child(3) {
							a {
								margin-bottom: 0;
							}
						}
					}

					.notice {
						ul {
							li {
								&:nth-child(3) {
									margin-bottom: 0;
								}
							}
						}
					}

					.gallery {
						.imgBox {
							img {
								&:nth-child(4) {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}

			.mvBox {
				display: none;
			}
		}
	}
}
