$tablet: 1179px;
$mobile: 539px;

$orange: #ee7d31;
$orange2: rgba(238, 125, 49, 0.3);
$orange3: rgba(238, 125, 49, 0.7);

$lightblue: #18b4e7;
$lightblue2: rgba(24, 180, 231, 0.3);
$lightblue3: rgba(24, 180, 231, 0.7);

$lightgreen: #00df70;
$lightgreen2: rgba(0, 223, 112, 0.3);
$lightgreen3: rgba(0, 223, 112, 0.7);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap');

//common
@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/popup';
@import 'common/menu';

//main
@import 'main/visual';
@import 'main/ser';
@import 'main/ab';
@import 'main/sat';
@import 'main/cont';
@import 'main/por';

//sub
@import 'sub/about';
@import 'sub/board';
@import 'sub/youtube';
@import 'sub/contact';
@import 'sub/portfolio';
@import 'sub/service';

body.orange {
	header {
		.inner {
			background: $orange;

			h1 {
				a {
					svg {
						color: $orange;
					}
				}
			}
		}
	}

	.sub {
		.inner {
			background: $orange;

			h1 {
				a {
					svg {
						color: $orange;
					}
				}
			}
		}
	}

	nav {
		#gnb {
			li {
				border-bottom: 1px solid $orange;

				a {
					color: lightsalmon;
				}
			}
		}

		.sns {
			a {
				color: $orange;
			}
		}
	}

	#visual {
		background-color: $orange;

		&::after {
			background-color: $orange2;
		}

		.main {
			p {
				color: $orange;
				position: absolute;
			}
		}

		.stay {
			&::after {
				background-color: $orange2;
			}
		}

		.txt {
			h1 {
				&::before {
					background-color: $orange2;
				}

				&::after {
					background-color: $orange2;
				}
			}
		}

		.btn {
			background: $orange;

			&:hover {
				border: 1px solid $orange;
				color: $orange;
			}
		}
	}

	#services {
		h1 {
			&::after {
				background-color: $orange2;
			}
		}

		.wrap {
			article {
				> svg {
					color: $orange;
				}

				.btn {
					background: $orange;

					&:hover {
						background-color: $orange2;
						border: 1px solid $orange;
						color: $orange;
					}
				}
			}
		}
	}

	#about {
		.box {
			&::after {
				background-color: $orange2;
			}

			h1 {
				&::after {
					background-color: $orange2;
				}
			}

			.btn {
				background: $orange;

				&:hover {
					background-color: $orange2;
					border: 1px solid $orange;
					color: $orange;
				}
			}
		}
	}

	#satisfied {
		.inner {
			article {
				svg {
					color: $orange;
				}
			}
		}
	}

	#contact {
		.inner {
			h1 {
				&::after {
					background-color: $orange2;
				}
			}

			.wrap {
				article {
					&:nth-of-type(2) {
						.sns {
							a {
								background-color: $orange;
							}
						}
					}

					.btn {
						background: $orange;

						&:hover {
							background-color: $orange2;
							border: 1px solid $orange;
							color: $orange;
						}
					}
				}
			}
		}
	}

	#portfolio {
		.inner {
			.sub_tit {
				h1 {
					&::after {
						background-color: $orange2;
					}
				}

				.btn {
					background: $orange;

					&:hover {
						background-color: $orange2;
						border: 1px solid $orange;
						color: $orange;
					}
				}
			}
		}

		.mySwiper {
			.swiper-scrollbar {
				.swiper-scrollbar-drag {
					background: $orange3;
				}
			}

			.swiper-wrapper {
				.swiper-slide {
					.pic {
						.more {
							p {
								svg {
									color: $orange;
								}
							}
						}

						&:hover {
							&::after {
								background: $orange2;
							}
						}
					}
				}
			}
		}
	}

	.content {
		.sub_visual {
			h1 {
				&::after {
					background-color: $orange2;
				}
			}
		}
	}

	.SERVICE {
		.inner {
			article {
				&::after {
					background-color: $orange2;
				}
			}

			#plan {
				.btns {
					li {
						p {
							color: $orange;
						}

						a {
							&.on {
								background: $orange;
							}
						}
					}
				}

				div {
					ul {
						li {
							p {
								color: $orange;
							}

							strong {
								color: $orange;
							}
						}
					}
				}
			}

			.btn {
				background-color: $orange;

				&:hover {
					background-color: $orange2;
					border: 1px solid $orange;
					color: $orange;
				}
			}
		}
	}

	.ABOUT {
		.inner {
			svg {
				color: $orange;
			}

			.introduction {
				.pic {
					&::after {
						background: $orange2;
					}
				}
			}

			.member {
				article {
					.box {
						.sns {
							background: $orange3;
						}
					}
				}
			}

			.questions {
				a {
					background: $orange;

					&:hover {
						background-color: $orange2;
						border: 1px solid $orange;
						color: $orange;

						> svg {
							color: $orange;
						}
					}
				}
			}
		}
	}

	.CONTACT {
		.inner {
			.con {
				.maps {
					.branch {
						li {
							border: 1px solid $orange;
							color: $orange;

							&.on {
								background: $orange;
								color: #fff;
							}
						}
					}
				}

				.formBox {
					.sns {
						a {
							background: $orange;
						}
					}

					form {
						fieldset {
							table {
								tr {
									td {
										input[type='reset'],
										input[type='submit'] {
											background: $orange;

											&:hover {
												background-color: $orange2;
												border: 1px solid $orange;
												color: $orange;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.subscribe {
				form {
					fieldset {
						table {
							tr {
								input[type='submit'] {
									background: $lightgreen;

									&:hover {
										background-color: $lightgreen2;
										border: 1px solid $lightgreen;
										color: $lightgreen;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.PORTFOLIO {
		.topBtns {
			> button {
				background: $orange;
			}
			.searchBox {
				input {
					border: 1px solid $orange;
				}

				button {
					background: $orange;
				}
			}
		}

		.frame {
			div {
				article {
					.box {
						&::after {
							background: $orange2;
						}

						> p {
							svg {
								color: $orange;
							}
						}
					}
				}
			}
		}
	}

	.YOUTUBE {
		.inner {
			.top {
				.left {
					article {
						.imgbox {
							.sns {
								background: $orange3;
							}
						}
						table {
							tr {
								&:last-child {
									td {
										a {
											&:hover {
												color: $orange;
											}
										}
									}
								}
							}
						}
					}
				}

				.right {
					.sec {
						&::after {
							background: $orange3;
						}
					}

					.cartegories {
						ul {
							li {
								color: $orange;
							}
						}
					}

					.post {
						a {
							&::after {
								background: $orange3;
							}

							.txt {
								span {
									.fa-message,
									.fa-heart {
										color: $orange;
									}
								}
							}
						}
					}

					.notice {
						ul {
							li {
								color: $orange;
							}
						}
					}
				}
			}

			.mvBox {
				.mv {
					article {
						.txt {
							p {
								&::after {
									background: $orange3;
								}
							}
						}
					}
				}
			}
		}
	}

	.NOTICE {
		.inner {
			.btns {
				li {
					border: 1px solid $orange;

					a {
						color: $orange;

						&.on {
							background: $orange;
							color: #fff;
						}
					}
				}
			}

			.box {
				input {
					border: 1px solid $orange;
				}

				textarea {
					border: 1px solid $orange;
				}

				.btns {
					button {
						background: $orange;
					}
				}
			}

			#faq {
				article {
					h2 {
						color: $orange3;
					}

					.btns {
						button {
							color: $orange;
						}
					}

					div {
						.rebox {
							input {
								border: 1px solid $orange;
							}

							textarea {
								border: 1px solid $orange;
							}
						}

						.btns_re {
							button {
								background: $orange;
							}
						}
					}
				}
			}
		}
	}

	.popup {
		.con {
			span {
				color: $orange;
			}
		}
	}
}

body.lightblue {
	header {
		.inner {
			background: $lightblue;

			h1 {
				a {
					svg {
						color: $lightblue;
					}
				}
			}
		}
	}

	.sub {
		.inner {
			background: $lightblue;

			h1 {
				a {
					svg {
						color: $lightblue;
					}
				}
			}
		}
	}

	nav {
		#gnb {
			li {
				border-bottom: 1px solid $lightblue;

				a {
					color: rgb(140, 198, 217);
				}
			}
		}

		.sns {
			a {
				color: $lightblue;
			}
		}
	}

	#visual {
		background-color: $lightblue;

		&::after {
			background-color: $lightblue2;
		}

		.main {
			p {
				color: $lightblue;
				position: absolute;
			}
		}

		.stay {
			&::after {
				background-color: $lightblue2;
			}
		}

		.txt {
			h1 {
				&::before {
					background-color: $lightblue2;
				}

				&::after {
					background-color: $lightblue2;
				}
			}
		}

		.btn {
			background: $lightblue;

			&:hover {
				border: 1px solid $lightblue;
				color: $lightblue;
			}
		}
	}

	#services {
		h1 {
			&::after {
				background-color: $lightblue2;
			}
		}

		.wrap {
			article {
				> svg {
					color: $lightblue;
				}

				.btn {
					background: $lightblue;

					&:hover {
						background-color: $lightblue2;
						border: 1px solid $lightblue;
						color: $lightblue;
					}
				}
			}
		}
	}

	#about {
		.box {
			&::after {
				background-color: $lightblue2;
			}

			h1 {
				&::after {
					background-color: $lightblue2;
				}
			}

			.btn {
				background: $lightblue;

				&:hover {
					background-color: $lightblue2;
					border: 1px solid $lightblue;
					color: $lightblue;
				}
			}
		}
	}

	#satisfied {
		.inner {
			article {
				svg {
					color: $lightblue;
				}
			}
		}
	}

	#contact {
		.inner {
			h1 {
				&::after {
					background-color: $lightblue2;
				}
			}

			.wrap {
				article {
					&:nth-of-type(2) {
						.sns {
							a {
								background-color: $lightblue;
							}
						}
					}

					.btn {
						background: $lightblue;

						&:hover {
							background-color: $lightblue2;
							border: 1px solid $lightblue;
							color: $lightblue;
						}
					}
				}
			}
		}
	}

	#portfolio {
		.inner {
			.sub_tit {
				h1 {
					&::after {
						background-color: $lightblue2;
					}
				}

				.btn {
					background: $lightblue;

					&:hover {
						background-color: $lightblue2;
						border: 1px solid $lightblue;
						color: $lightblue;
					}
				}
			}
		}

		.mySwiper {
			.swiper-scrollbar {
				.swiper-scrollbar-drag {
					background: $lightblue3;
				}
			}

			.swiper-wrapper {
				.swiper-slide {
					.pic {
						.more {
							p {
								svg {
									color: $lightblue;
								}
							}
						}

						&:hover {
							&::after {
								background: $lightblue2;
							}
						}
					}
				}
			}
		}
	}

	.content {
		.sub_visual {
			h1 {
				&::after {
					background-color: $lightblue2;
				}
			}
		}
	}

	.SERVICE {
		.inner {
			article {
				&::after {
					background-color: $lightblue2;
				}
			}

			#plan {
				.btns {
					li {
						p {
							color: $lightblue;
						}

						a {
							&.on {
								background: $lightblue;
							}
						}
					}
				}

				div {
					ul {
						li {
							p {
								color: $lightblue;
							}

							strong {
								color: $lightblue;
							}
						}
					}
				}
			}

			.btn {
				background-color: $lightblue;

				&:hover {
					background-color: $lightblue2;
					border: 1px solid $lightblue;
					color: $lightblue;
				}
			}
		}
	}

	.ABOUT {
		.inner {
			svg {
				color: $lightblue;
			}

			.introduction {
				.pic {
					&::after {
						background: $lightblue2;
					}
				}
			}

			.member {
				article {
					.box {
						.sns {
							background: $lightblue3;
						}
					}
				}
			}

			.questions {
				a {
					background: $lightblue;

					&:hover {
						background-color: $lightblue2;
						border: 1px solid $lightblue;
						color: $lightblue;

						> svg {
							color: $lightblue;
						}
					}
				}
			}
		}
	}

	.CONTACT {
		.inner {
			.con {
				.maps {
					.branch {
						li {
							border: 1px solid $lightblue;
							color: $lightblue;

							&.on {
								background: $lightblue;
								color: #fff;
							}
						}
					}
				}

				.formBox {
					.sns {
						a {
							background: $lightblue;
						}
					}

					form {
						fieldset {
							table {
								tr {
									td {
										input[type='reset'],
										input[type='submit'] {
											background: $lightblue;

											&:hover {
												background-color: $lightblue2;
												border: 1px solid $lightblue;
												color: $lightblue;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.subscribe {
				form {
					fieldset {
						table {
							tr {
								input[type='submit'] {
									background: $lightblue;

									&:hover {
										background-color: $lightblue2;
										border: 1px solid $lightblue;
										color: $lightblue;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.PORTFOLIO {
		.topBtns {
			> button {
				background: $lightblue;
			}
			.searchBox {
				input {
					border: 1px solid $lightblue;
				}

				button {
					background: $lightblue;
				}
			}
		}

		.frame {
			div {
				article {
					.box {
						&::after {
							background: $lightblue2;
						}

						> p {
							svg {
								color: $lightblue;
							}
						}
					}
				}
			}
		}
	}

	.YOUTUBE {
		.inner {
			.top {
				.left {
					article {
						.imgbox {
							.sns {
								background: $lightblue3;
							}
						}
						table {
							tr {
								&:last-child {
									td {
										a {
											&:hover {
												color: $lightblue;
											}
										}
									}
								}
							}
						}
					}
				}

				.right {
					.sec {
						&::after {
							background: $lightblue3;
						}
					}

					.cartegories {
						ul {
							li {
								color: $lightblue;
							}
						}
					}

					.post {
						a {
							&::after {
								background: $lightblue3;
							}

							.txt {
								span {
									.fa-message,
									.fa-heart {
										color: $lightblue;
									}
								}
							}
						}
					}

					.notice {
						ul {
							li {
								color: $lightblue;
							}
						}
					}
				}
			}

			.mvBox {
				.mv {
					article {
						.txt {
							p {
								&::after {
									background: $lightblue3;
								}
							}
						}
					}
				}
			}
		}
	}

	.NOTICE {
		.inner {
			.btns {
				li {
					border: 1px solid $lightblue;

					a {
						color: $lightblue;

						&.on {
							background: $lightblue;
							color: #fff;
						}
					}
				}
			}

			.box {
				input {
					border: 1px solid $lightblue;
				}

				textarea {
					border: 1px solid $lightblue;
				}

				.btns {
					button {
						background: $lightblue;
					}
				}
			}

			#faq {
				article {
					h2 {
						color: $lightblue3;
					}

					.btns {
						button {
							color: $lightblue;
						}
					}

					div {
						.rebox {
							input {
								border: 1px solid $lightblue;
							}

							textarea {
								border: 1px solid $lightblue;
							}
						}

						.btns_re {
							button {
								background: $lightblue;
							}
						}
					}
				}
			}
		}
	}

	.popup {
		.con {
			span {
				color: $lightblue;
			}
		}
	}
}

body.lightgreen {
	header {
		.inner {
			background: $lightgreen;

			h1 {
				a {
					svg {
						color: $lightgreen;
					}
				}
			}
		}
	}

	.sub {
		.inner {
			background: $lightgreen;

			h1 {
				a {
					svg {
						color: $lightgreen;
					}
				}
			}
		}
	}

	nav {
		#gnb {
			li {
				border-bottom: 1px solid $lightgreen;

				a {
					color: lightgreen;
				}
			}
		}

		.sns {
			a {
				color: $lightgreen;
			}
		}
	}

	#visual {
		background-color: $lightgreen;

		&::after {
			background-color: $lightgreen2;
		}

		.main {
			p {
				color: $lightgreen;
				position: absolute;
			}
		}

		.stay {
			&::after {
				background-color: $lightgreen2;
			}
		}

		.txt {
			h1 {
				&::before {
					background-color: $lightgreen2;
				}

				&::after {
					background-color: $lightgreen2;
				}
			}
		}

		.btn {
			background: $lightgreen;

			&:hover {
				border: 1px solid $lightgreen;
				color: $lightgreen;
			}
		}
	}

	#services {
		h1 {
			&::after {
				background-color: $lightgreen2;
			}
		}

		.wrap {
			article {
				> svg {
					color: $lightgreen;
				}

				.btn {
					background: $lightgreen;

					&:hover {
						background-color: $lightgreen2;
						border: 1px solid $lightgreen;
						color: $lightgreen;
					}
				}
			}
		}
	}

	#about {
		.box {
			&::after {
				background-color: $lightgreen2;
			}

			h1 {
				&::after {
					background-color: $lightgreen2;
				}
			}

			.btn {
				background: $lightgreen;

				&:hover {
					background-color: $lightgreen2;
					border: 1px solid $lightgreen;
					color: $lightgreen;
				}
			}
		}
	}

	#satisfied {
		.inner {
			article {
				svg {
					color: $lightgreen;
				}
			}
		}
	}

	#contact {
		.inner {
			h1 {
				&::after {
					background-color: $lightgreen2;
				}
			}

			.wrap {
				article {
					&:nth-of-type(2) {
						.sns {
							a {
								background-color: $lightgreen;
							}
						}
					}

					.btn {
						background: $lightgreen;

						&:hover {
							background-color: $lightgreen2;
							border: 1px solid $lightgreen;
							color: $lightgreen;
						}
					}
				}
			}
		}
	}

	#portfolio {
		.inner {
			.sub_tit {
				h1 {
					&::after {
						background-color: $lightgreen2;
					}
				}

				.btn {
					background: $lightgreen;

					&:hover {
						background-color: $lightgreen2;
						border: 1px solid $lightgreen;
						color: $lightgreen;
					}
				}
			}
		}

		.mySwiper {
			.swiper-scrollbar {
				.swiper-scrollbar-drag {
					background: $lightgreen3;
				}
			}

			.swiper-wrapper {
				.swiper-slide {
					.pic {
						.more {
							p {
								svg {
									color: $lightgreen;
								}
							}
						}

						&:hover {
							&::after {
								background: $lightgreen2;
							}
						}
					}
				}
			}
		}
	}

	.content {
		.sub_visual {
			h1 {
				&::after {
					background-color: $lightgreen2;
				}
			}
		}
	}

	.SERVICE {
		.inner {
			article {
				&::after {
					background-color: $lightgreen2;
				}
			}

			#plan {
				.btns {
					li {
						p {
							color: $lightgreen;
						}

						a {
							&.on {
								background: $lightgreen;
							}
						}
					}
				}

				div {
					ul {
						li {
							p {
								color: $lightgreen;
							}

							strong {
								color: $lightgreen;
							}
						}
					}
				}
			}

			.btn {
				background-color: $lightgreen;

				&:hover {
					background-color: $lightgreen2;
					border: 1px solid $lightgreen;
					color: $lightgreen;
				}
			}
		}
	}

	.ABOUT {
		.inner {
			svg {
				color: $lightgreen;
			}

			.introduction {
				.pic {
					&::after {
						background: $lightgreen2;
					}
				}
			}

			.member {
				article {
					.box {
						.sns {
							background: $lightgreen3;
						}
					}
				}
			}

			.questions {
				a {
					background: $lightgreen;

					&:hover {
						background-color: $lightgreen2;
						border: 1px solid $lightgreen;
						color: $lightgreen;

						> svg {
							color: $lightgreen;
						}
					}
				}
			}
		}
	}

	.CONTACT {
		.inner {
			.con {
				.maps {
					.branch {
						li {
							border: 1px solid $lightgreen;
							color: $lightgreen;

							&.on {
								background: $lightgreen;
								color: #fff;
							}
						}
					}
				}

				.formBox {
					.sns {
						a {
							background: $lightgreen;
						}
					}

					form {
						fieldset {
							table {
								tr {
									td {
										input[type='reset'],
										input[type='submit'] {
											background: $lightgreen;

											&:hover {
												background-color: $lightgreen2;
												border: 1px solid $lightgreen;
												color: $lightgreen;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.subscribe {
				form {
					fieldset {
						table {
							tr {
								input[type='submit'] {
									background: $lightgreen;

									&:hover {
										background-color: $lightgreen2;
										border: 1px solid $lightgreen;
										color: $lightgreen;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.PORTFOLIO {
		.topBtns {
			> button {
				background: $lightgreen;
			}
			.searchBox {
				input {
					border: 1px solid $lightgreen;
				}

				button {
					background: $lightgreen;
				}
			}
		}

		.frame {
			div {
				article {
					.box {
						&::after {
							background: $lightgreen2;
						}

						> p {
							svg {
								color: $lightgreen;
							}
						}
					}
				}
			}
		}
	}

	.YOUTUBE {
		.inner {
			.top {
				.left {
					article {
						.imgbox {
							.sns {
								background: $lightgreen3;
							}
						}
						table {
							tr {
								&:last-child {
									td {
										a {
											&:hover {
												color: $lightgreen;
											}
										}
									}
								}
							}
						}
					}
				}

				.right {
					.sec {
						&::after {
							background: $lightgreen3;
						}
					}

					.cartegories {
						ul {
							li {
								color: $lightgreen;
							}
						}
					}

					.post {
						a {
							&::after {
								background: $lightgreen3;
							}

							.txt {
								span {
									.fa-message,
									.fa-heart {
										color: $lightgreen;
									}
								}
							}
						}
					}

					.notice {
						ul {
							li {
								color: $lightgreen;
							}
						}
					}
				}
			}

			.mvBox {
				.mv {
					article {
						.txt {
							p {
								&::after {
									background: $lightgreen3;
								}
							}
						}
					}
				}
			}
		}
	}

	.NOTICE {
		.inner {
			.btns {
				li {
					border: 1px solid $lightgreen;

					a {
						color: $lightgreen;

						&.on {
							background: $lightgreen;
							color: #fff;
						}
					}
				}
			}

			.box {
				input {
					border: 1px solid $lightgreen;
				}

				textarea {
					border: 1px solid $lightgreen;
				}

				.btns {
					button {
						background: $lightgreen;
					}
				}
			}

			#faq {
				article {
					h2 {
						color: $lightgreen3;
					}

					.btns {
						button {
							color: $lightgreen;
						}
					}

					div {
						.rebox {
							input {
								border: 1px solid $lightgreen;
							}

							textarea {
								border: 1px solid $lightgreen;
							}
						}

						.btns_re {
							button {
								background: $lightgreen;
							}
						}
					}
				}
			}
		}
	}

	.popup {
		.con {
			span {
				color: $lightgreen;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	body.orange {
		header {
			.inner {
				h1 {
					background: $orange;
				}
			}
		}

		#visual {
			.btn {
				background-color: rgba(0, 0, 0, 0);

				&:hover {
					border: none;
					color: $orange;
				}
			}
		}

		#about {
			.box {
				.btn {
					background: rgba(255, 255, 255, 0);
				}
			}
		}
	}

	body.lightblue {
		header {
			.inner {
				h1 {
					background: $lightblue;
				}
			}
		}

		#visual {
			.btn {
				background-color: rgba(0, 0, 0, 0);

				&:hover {
					border: none;
					color: $lightblue;
				}
			}
		}

		#about {
			.box {
				.btn {
					background: rgba(255, 255, 255, 0);
				}
			}
		}
	}

	body.lightgreen {
		header {
			.inner {
				h1 {
					background: $lightgreen;
				}
			}
		}

		#visual {
			.btn {
				background-color: rgba(0, 0, 0, 0);

				&:hover {
					border: none;
					color: $lightgreen;
				}
			}
		}

		#about {
			.box {
				.btn {
					background: rgba(255, 255, 255, 0);
				}
			}
		}
	}
}
